calcite-card {
    width: 240px;
}

@media (max-width: 800px) {
    calcite-card {
        width: calc(100% / 2 - .5rem);
    }
}

@media (max-width: 400px) {
    calcite-card {
        width: 100%;
    }
}